body {
  background-color: #a60059;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #800080;
}
#projects {
  background-color: #800080;
}
#galery {
  background-color: #800080;
}
